:root {
	--main-background: hsl(233, 47%, 7%);
	--card-background-color: hsl(244, 38%, 16%);
	--primary-color: hsl(277, 64%, 61%);

	--secondary-color: hsla(0, 0%, 100%, 0.6);

	--main-paragraph-color: hsla(0, 0%, 100%, 0.75);
	--white: hsl(0, 0%, 100%);
	--stat-heading-color: hsla(0, 0%, 100%, 0.6);
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Lexend Deca", serif;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: var(--main-background);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 60rem;
	height: 25rem;
	background-color: var(--card-background-color);
	border-radius: 0.5rem;
	display: flex;
}

.card__left {
	width: 50%;
	height: 100%;
	padding: 4rem 6rem 2rem 2rem;
	border-radius: 0.5rem;
}

.card__left h2 {
	font-size: 2rem;
	color: var(--white);
	margin-bottom: 1.5rem;
}

.card__description {
	font-size: 1rem;
	color: var(--main-paragraph-color);
	line-height: 1.5rem;
}

.card__stats {
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
}

.stats__value {
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--white);
}

.stats__name {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: var(--main-paragraph-color);
	margin-top: 0.5rem;
}

.card__right {
	width: 50%;
	height: 100%;
	background: linear-gradient(
			to right,
			hsla(277, 64%, 36%, 0.687),
			hsla(277, 64%, 36%, 0.687)
		),
		url("../images/image-header-desktop.jpg");
	background-size: cover;
	/* background-blend-mode: multiply; */
	border-radius: 0.5rem;
}

.text-primary {
	color: var(--primary-color);
}

@media (max-width: 700px) {
	.card {
		flex-direction: column;
		width: 30rem;
		height: 74rem;
	}
	.card__left {
		width: 100%;
		height: 40rem;
		padding: 2rem;
		order: 1;
	}

	.card__left h2 {
		font-size: 2.5rem;
		color: var(--white);
		margin-bottom: 1.5rem;
		text-align: center;
	}

	.card__right {
		width: 100%;
		height: 23rem;
	}

	.card__description {
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
	}

	.card__stats {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 20rem;
	}

	.stats__name {
		font-size: 1.2rem;
	}

	.stats__value {
		font-size: 2rem;
	}

	.stats__group {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
